@import "variables";

@mixin display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin text-styling($text-ts,$ft-color:$f-color) {
    color: $ft-color;
    font-size: $fs-1;
    text-transform: $text-ts;
}