h3 {

}


$bg-color: teal;
$fs-1: 1rem;
$f-color: burlywood;

@mixin display-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin text-styling($text-ts,$ft-color:$f-color) {
    color: $ft-color;
    font-size: $fs-1;
    text-transform: $text-ts;
}

.mc {
    @include display-center;
    background-color: $bg-color;
    font-size: $fs-1;
    height: 100vh;
    width: 100vw;
    
    // justify-content: center;
    // align-items: center;

    h3 {
        @include text-styling(lowercase);
        

        &:hover {
            background-color: rgb(23, 110, 142);
            &::before {
                content: "You are";
            }
        }

        
        // margin: 0;
    }

    p {
        @include text-styling(lowercase, #a88a11);
    }

    h3:hover {
        color: rgb(3, 25, 59);;
    }


}