@import "mixins";

h3 {

}

// comment - hey
.mc {
    @include display-center;
    background-color: $bg-color;
    font-size: $fs-1;
    height: 100vh;
    width: 100vw;
    
    // justify-content: center;
    // align-items: center;

    h3 {
        @include text-styling(lowercase);
        

        &:hover {
            background-color: rgb(23, 110, 142);
            &::before {
                content: "You are";
            }
        }

        
        // margin: 0;
    }

    p {
        @include text-styling(lowercase, #a88a11);
    }

    h3:hover {
        color: rgb(3, 25, 59);;
    }


}