<div class="splitter">
<div class="splitterpane" style="flex-basis: 20%;">
Pane1
</div>
<div class="splitterpane" style="flex-basis: 30%;">
Pane2
</div>

<div class="splitterpane" style="flex-basis: 40%;">
Pane3
</div>
<div class="splitterpane" style="flex-basis: auto;">
Pane4
</div>
<div class="splitterpane" style="flex-basis: auto;">
Pane5
</div>
</div>